# Forecast Harga Pasar Komoditas Bawang Merah di Brebes

## Import Libraries

In [19]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn.metrics import mean_absolute_error, mean_squared_error
from tensorflow import keras
from tensorflow.keras.layers import Input, LSTM, Dense, Dropout, Flatten

## Data Collections

In [20]:
file_path = "data3harian.csv"
df = pd.read_csv(file_path)
df

     3 Hari  Harga/3 hari
0         1  28000.000000
1         2  27666.666667
2         3  27000.000000
3         4  29000.000000
4         5  30000.000000
..      ...           ...
451     452  35000.000000
452     453  35000.000000
453     454  32666.666667
454     455  32000.000000
455     456  32000.000000

[456 rows x 2 columns]

## Data Preparation

In [21]:
week = np.array(df["3 Hari"])
series = np.array(df['Harga/3 hari'])
week.shape, series.shape

((456,), (456,))

### Future Forecast

In [22]:
window_size = 24

In [23]:
def scaled_price(data):
    return data/1000

In [24]:
def inverse_scale(data):
    return data*1000

1. Load model

In [25]:
loaded_model = tf.keras.models.load_model('model_prediksi_3hari.keras')

In [26]:
print(loaded_model.input_shape)

(None, 24, 1)

In [27]:
actual = series[-24:]
seq_res = np.array([])

In [28]:
series.shape

(456,)

In [29]:
act_temp = actual.reshape(-1, 1)

In [30]:
# data dibagi 1000
actual_scaled = scaled_price(act_temp)
# ambil 24 data terakhir
seq = actual_scaled[-window_size:]
# prediksi
hasil = loaded_model.predict(seq.reshape(1, window_size, 1))
# hasil prediksi dikali 1000
hasil = inverse_scale(hasil)
# hasil prediksi 3 hari pertama masuk ke variabell seq_res
seq_res = np.append(seq_res, hasil.item())
# hasil predksi masuk ke variabel pertama yang mengambil 24 data terakhir
act_temp = np.append(act_temp, np.expand_dims([hasil.item()], axis=1))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 82ms/step

In [31]:
seq_res

array([31755.8203125])

In [32]:
actual_scaled = scaled_price(act_temp)
seq = actual_scaled[-window_size:]
hasil = loaded_model.predict(seq.reshape(1, window_size, 1))
hasil = inverse_scale(hasil)
seq_res = np.append(seq_res, hasil.item())
act_temp = np.append(act_temp, np.expand_dims([hasil.item()], axis=1))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step

In [33]:
seq_res

array([31755.8203125, 31373.671875 ])